body {
    background-color: aquamarine;
}
.p1 {
    border-style: dashed;
}
.p2 {
    border-style: dotted;
}
.p3 {
    border-style: double;
    border-width: 30px 10px 15px 20px;
}
.p4 {
    border-style: dotted;
    border-width: 30px 25px 20px 15px solid black;
}
.p5 {
    border-style: hidden;
}
.p6 {
    border-style: inherit;
}
.p7 {
    border-style: initial;
}
.p8 {
    border-style: inset;
}
.p9 {
    border-style: outset;
}